<%= render 'pages/blog' %>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
      <%= image_tag post.image.url(:medium) %>
      <div class="panel panel-footer">
        <%= post.title %>
      </div>
      <div class="panel panel-body">
        <%= post.body %>
        <%= post.user.email if post.user %>
      </div>
      <div class="panel panel-footer">
        <%= post.published %>
        <%= link_to 'Show', post %>
        <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Hold on there Cowboy, You Sure?' } %>
        <% end %> <!--only show edit/destroy for "Current User" need to change to Admin User-->
      </div>
    </div>
  <% end %>
</div>